/* Body styling */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: silver;
  color: #0000A8;
}

/* Footer styling */
.footer {
  padding-top: 10px;
  color: white;
}

/* Main heading for game */
h1 {
  font-weight: 600;
}

/* Style used for text diplayed in messageArea */
p {
  font-size: 150%;
}

/* Styling for the entire game area */
#game-area {
  text-align: center;
  padding-top: 10px;
}

/* Styling for the tile table */
table {
  width: 100%;
  height: auto;
  margin: auto;
  border-spacing: 0px;
}

/* Styling for the Tiles */
/* Styling for the table cells (Tiles) */
td {
  background-color: blue;
  font-size: 300%;
  text-align: center;
  color: white;
  opacity: 1;
}

/* Styling for the tile highlight */
.highlight {
  background-color: white;
}

/* Styling for the tile once selected */
.selectorLight {
  background-color: red;
}

/* Styling to reveal what is behind the tile */
.revealed {
  opacity: 0;
}

/* Styling for the game title */
#title {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Styling for the messageArea */
#messageArea {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  height: auto;
}

/* Styling for the userArea area */
#userAnswer {
  text-align: center;
  width: 250px;
  margin: auto;
  padding-bottom: 10px;
  height: auto;
}

/* Styling for the userInputArea */
#userInputArea {
  margin-bottom: 10px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
}

/* Styling for game control buttons */
/* Button area */
#buttons {
  text-align: center;
  width: 100%;
}

/* Styling for all buttons */
.button {
  border: none;
  font-size: 130%;
  font-weight: 500;
  width: 150px;
  height: 40px;
  border-radius: 25px;
}

/* Styling for individual buttons */
#startBtn {
  margin-top: 5px;
  background-color: green;
  color: white;
}

#stopBtn {
  margin-top: 5px;
  background-color: #B30000;
  color: white;
}

#userBtn {
  background-color: #FFB833;
  color: #0000A8;
  height: auto;
}

#nextLevelBtn {
  margin-top: 20px;
  background-color: purple;
  color: white;
}

#quitBtn, #contBtn, #exitBtn{
  background-color: #0000A8;
  color: #FFB833;
}

#playBtn {
  width: auto;
  height: auto;
  background-color: purple;
  color: white;
  margin-top: 2%
}

/* Styling for the current level display area */
#currentLevel {
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

/* Styling for the attempts remaining display area */
#attemptsRemaining {
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

/* Used for tablet/devices larger than mobile, smaller than desktop */
@media screen and (min-width: 481px) {
  table {
  width: 60%;
  height: auto;
  margin: auto;
  border-spacing: 0px;
  }
}

/* Used for desktop/devices larger than tablet */
@media screen and (min-width: 1025px) {
  table {
  width: 640px;
  height: 500px;
  margin: auto;
  border-spacing: 0px;
  }
}
  